$primary-color: #f44235;
$secondary-color: #4051b5;
$background: rgba(236, 240, 241,1.0);

.progress_div {
  padding: 5px;
  min-height: 50px !important;
  width: 100% !important;
  overflow-x: scroll;
}

.vsb_error {
  color: orange;
  width: 150px;
  text-align: center;
  padding: 3px;
  font-size: 15px;
  margin-bottom: 15px;
}

#make_degree{
  height: 90%;
}

.course_available{
  color: blue;
  width: 150px;
  text-align: center;
  padding: 3px;
  font-size: 15px;
  margin-bottom: 15px;
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#progress_table {
  overflow-x: scroll;
}

.progress_cell {
  color: #f44235;
  text-align: center !important;
  font-family: "Helvetica","Arial",sans-serif;
}

.group_cell {
  font-size: 28px !important;
  color: black !important;
}

.area_1_card.mdl-card {
  width: 100%;
}

.area_1_card.mdl-card .mdl-card--border {
  padding: 20px;
  width: 99%;
}

.area_1_card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("../assets/demos/welcome_card.jpg") center/cover;
}

.area_1_card > .mdl-card__menu {
  color: #fff;
}

.area_1_card .mdl-card--border {
  display: table-row;
}

.my_program {
  border-top: 2px solid #fccac6 !important;
}

.my_program legend {
  text-align: center;
  color: #f44235;
}

.elective_div {
  padding: 20px;
  height: 200px;
  border-top: 2px solid rgba(39, 174, 96, 0.2);
}

.elective_div legend {
  text-align: center;
  color: rgba(39, 174, 96, 0.6);
}

.complementary_div {
  padding: 20px;
  border-top: 2px solid rgba(243, 156, 18, 0.2);
}

.tutorial-div{
  display: inline-block;
  border-radius: 7px;
  margin-left: 10px;
  border-right: 2px solid rgba(255, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 0, 0, 0.5);
}

#tutorial-header{
    border-bottom: 2px solid rgba(171, 171, 171, 0.41);
    text-align: center;
    padding-bottom: 10px;
}

.complementary_div legend {
  text-align: center;
  color: rgba(243, 156, 18, 0.6);
}



.schedule_wrap {
  overflow: auto;
  overflow-y: hidden;
  width: 100%;
}

.semester {
  min-height: 200px;
  display: table-cell;
  padding: 0 30px;
  border-radius: 4px;
  margin: 10px;
}

.complementary_area {
  margin-top: 20px;
  width: 20%;
}

.reveal_complementary_courses{
  // left: calc(50% - 20px);
  width: 80%;
  margin-bottom: 10px;
  padding-top: 5px;
  height: 40px;
  font-size: 15px;
  border-radius: 25px;
}

.schedule_wrap {
  overflow: auto;
  overflow-y: hidden;
  width: 100%;
}

#add-semester-wrap {
  display: table-cell;
  vertical-align: middle;
}

.fill-semester-gap-wrap {
  display: table-cell;
  vertical-align: middle;
}

.delete-semester-wrap{
  width:40px;
  margin: auto;
}

#course_schedule{
  position: relative;
}

.Complementary_table{
  margin: auto;
}

.add_button{
  margin: auto;
  display: block;
  margin-top: 20px;
}

.Elective_table{
  margin: auto;
}

.Required_table{
  margin:auto;

}

#Internship_error{
    margin-top: 30px;
    text-align: center;
    color: red;
    font-weight: bold;
}



.reveal-modal{
  height:80%;
  overflow: scroll;
}

#add-semester-wrap #add-semester {
  background-color: #2980b9;
}

#add-semester-wrap #add-semester i {
  color: white;
}

#make-degree_title{
  text-align:center;
}
