@import url(http://fonts.googleapis.com/css?family=Raleway:300);
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #f44235;
  height: 100%;
}

.text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 9em;
  font-weight: 700;
  color: white;
  position: relative;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: white;
  position: relative;
}

.buttons {
  margin: 30px;
}

.buttons a.button {
  background-color: #f44235;
  font-weight: 700;
  border: 2px solid white;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  border-radius: 26px;
  transition: all 0.2s ease-in-out;
}

.buttons a.button:hover {
  background-color: #f76f65;
  color: white;
  transition: all 0.2s ease-in-out;
}

@keyframes noise-anim {
  0% {
    clip: rect(85px, 9999px, 31px, 0);
  }
  5% {
    clip: rect(38px, 9999px, 172px, 0);
  }
  10% {
    clip: rect(115px, 9999px, 109px, 0);
  }
  15% {
    clip: rect(194px, 9999px, 188px, 0);
  }
  20% {
    clip: rect(179px, 9999px, 134px, 0);
  }
  25% {
    clip: rect(151px, 9999px, 146px, 0);
  }
  30% {
    clip: rect(191px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(40px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(168px, 9999px, 63px, 0);
  }
  45% {
    clip: rect(193px, 9999px, 174px, 0);
  }
  50% {
    clip: rect(166px, 9999px, 110px, 0);
  }
  55% {
    clip: rect(81px, 9999px, 61px, 0);
  }
  60% {
    clip: rect(127px, 9999px, 163px, 0);
  }
  65% {
    clip: rect(126px, 9999px, 53px, 0);
  }
  70% {
    clip: rect(157px, 9999px, 145px, 0);
  }
  75% {
    clip: rect(3px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 181px, 0);
  }
  85% {
    clip: rect(153px, 9999px, 21px, 0);
  }
  90% {
    clip: rect(155px, 9999px, 192px, 0);
  }
  95% {
    clip: rect(184px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(158px, 9999px, 127px, 0);
  }
}

.subtitle:after, .title:after {
  content: attr(data-content);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(122px, 9999px, 59px, 0);
  }
  5% {
    clip: rect(158px, 9999px, 181px, 0);
  }
  10% {
    clip: rect(130px, 9999px, 139px, 0);
  }
  15% {
    clip: rect(129px, 9999px, 109px, 0);
  }
  20% {
    clip: rect(8px, 9999px, 127px, 0);
  }
  25% {
    clip: rect(8px, 9999px, 87px, 0);
  }
  30% {
    clip: rect(51px, 9999px, 52px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 188px, 0);
  }
  40% {
    clip: rect(66px, 9999px, 15px, 0);
  }
  45% {
    clip: rect(38px, 9999px, 76px, 0);
  }
  50% {
    clip: rect(41px, 9999px, 130px, 0);
  }
  55% {
    clip: rect(162px, 9999px, 194px, 0);
  }
  60% {
    clip: rect(29px, 9999px, 93px, 0);
  }
  65% {
    clip: rect(6px, 9999px, 116px, 0);
  }
  70% {
    clip: rect(29px, 9999px, 11px, 0);
  }
  75% {
    clip: rect(170px, 9999px, 55px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 62px, 0);
  }
  85% {
    clip: rect(162px, 9999px, 186px, 0);
  }
  90% {
    clip: rect(42px, 9999px, 12px, 0);
  }
  95% {
    clip: rect(90px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(124px, 9999px, 140px, 0);
  }
}

.subtitle:before, .title:before {
  content: attr(data-content);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
