.test_card.mdl-card{
  transition: opacity 0.2s ease;
  margin-top: 300px;
  opacity: 0.4;
  width:100%;
}

.container_card.mdl-card{
  width:100%;
  /*background: url("/test.jpg") center/cover;*/
}

.test_card.mdl-card:hover{
  opacity: .8;
}

.button_holder.mdl-grid{
height: 720px;
}

.button_container.mdl-cell{
padding-top: 255px;
text-align: center;
}

.button_container.mdl-cell.mdl-cell--4-col {}


.page-content, #introContainer, #titleContainer{
    height: 100%;
    width: 100%;
    position: absolute;
}

.landfooter.mdl-mini-footer{
background-color: #FF2525;
/* height: 16px; */
width: calc(100% - 32px);
position: absolute;
bottom: 0px;
}

#SimvoTitle{
  position: absolute;
  width: 500px;
  margin-left: calc(50% - 250px);
  height: 80px;
  text-align: center;
  top: 18%;
  font-size: 120px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  z-index: 1;
  border-bottom: 2px solid;
  opacity: 0;
  -webkit-animation: appear 2s 2.5s forwards;
  animation: appear 2s 2.5s forwards;
}

#introContainer{
  overflow: visible;
  z-index: 2;
  text-align: left;
  margin-top: -136px;
  padding-right: 195px;
  margin-left: -193px;
  -webkit-animation: circle 1.5s 1.5s forwards;
  animation: circle 1.5s 1.5s forwards;
}

/*Shiney Button! */

@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button {
  padding: 0.75em 2em;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: rgba(255, 239, 239, 0.85);
  border: 2px solid #FFFEFF;
  width: 20%;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  opacity:0;
  -webkit-animation: appear 3s 2s forwards;
  animation: appear 3s 2s forwards;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* margin-top: 400px; */
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  transition: none;
}
.button:hover {
  background-color: #2194E0;
  color: #fff;
  border-bottom: 4px solid #FFFEFF;
}
.button:hover:before {
  -webkit-transform: skewX(-45deg) translateX(13.5em);
          transform: skewX(-45deg) translateX(13.5em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


/*Circle animation */

html, body{
  height: 100%;
  width: 100%;
}

#welcome {
opacity: 0;
margin-left: 0px;
text-shadow: 0px 2px 8px rgba(0,0,0,0.6);
-webkit-animation: appear 1s .5s forwards;
animation: appear 1s .5s forwards;
}

#welcome2 {

opacity: 0;

margin-left: -20px;

text-shadow: 0px 2px 8px rgba(0,0,0,0.6);

-webkit-animation: introappear 1s .5s forwards;

animation: introappear 1s .5s forwards;
}

#introWords {
color: ivory;
position: absolute;
top: 60%;
left: 57%;
z-index: 3;
opacity: 1;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);

margin: 0;
}

body {
  background: ivory;
}

.background {
  height: 200%;
  width: 100%;
  position: absolute;
  z-index: 2;
  margin-top: -389px;
  /* margin-left: calc(15% - 1050px); */
  background: url("/test.jpg") center/cover;
}

#card_background{
  position: absolute;
  z-index: 0;
  height:100%;
  width:100%;
  opacity: 0;

  background: url("http://www.international.gouv.qc.ca/Content/Users/Documents/FicheContenu/263.jpg") center/cover;

  -webkit-animation: appear 2s 1s forwards;
          animation: appear 2s 1s forwards;
}

@-webkit-keyframes circle {
  from {
    -webkit-clip-path: circle(110vh at center);
            clip-path: circle(110vh at center);
  }
  to {
    -webkit-clip-path: circle(0vh at center);
            clip-path: circle(0vh at center);
  }
}

@keyframes circle {
  from {
    -webkit-clip-path: circle(110vh at center);
            clip-path: circle(110vh at center);
  }
  to {
    -webkit-clip-path: circle(0vh at center);
            clip-path: circle(0vh at center);
  }
}

@-webkit-keyframes introappear {
  from {
    margin-left:-20px;
    opacity: 0;
  }
  to {
    margin-left:0px;
    opacity: 1;
  }
}
@keyframes introappear {
  from {
    margin-left:-20px;
    opacity:0;
  }
  to {
    margin-left:0px;
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* WELCOME ANIMATION */

@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://fonts.googleapis.com/css?family=Junge);
*{
  margin:0;
  padding:0;


}
html,body{width:100%;height:100%;}



/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}



.content{max-width:40%; max-height:50%;margin:100px auto;}

.welcomeText,.form,.social{ width:100%; }
/*welcome text*/
.welcome{
  height:100px;
  position:relative;
  border-bottom:1px solid;
  overflow:hidden;
}

.greet{
  width:100%;
  height:100%;
  position:absolute;
  top:100%;
  font-size:50px;
  text-align:center;
  line-height:100px;
  transition:all .5s;
}
/*taglines*/
.subText{
  width:100%;
  height:100px;
  position:relative;
  font-size:30px;
  overflow:hidden;
}
.subText p{
  height:100%;
  line-height:100px;
  text-align:center;

}
.subTexts{
  width:100%;
  position:absolute;
  bottom:100%;
  text-align:center;
  overflow:hidden;
  transition:all .5s;
}
/*FORM*/
.form{
  width:100%;
  height:100px;
  position:relative;
}

.sub{
  width:90%;
  height:50px;
  margin:auto;
  opacity:0;
  border:none;
  border-radius:50px;
  background:rgba(0,0,0,.05);
  box-shadow:inset 0 0 5px rgba(0,0,0,.4),0 0 0px 5px rgba(0,0,0,.1);
  transition:all .5s;


}

.email{
  width:70%;
  height:70%;
  margin:1% 0;
  padding-left:10px;
  background:none;
  border:none;
  font-size:20px;
}

input:focus{outline:none;}


/*footer-follow us*/
.follow{
  width:100%;
  height:100px;
  position:relative;
  overflow:hidden;
}
.followUs{
  width:100%;
  height:100%;
  position:absolute;
  bottom:100%;
  line-height:100px;
  text-align:center;
  font-size:40px;
  transition:all .5s;
}

.socialIcons{
  width:100%;
  height:100px;
  position:relative;
  overflow:hidden;
}

.socialIcon{
  width:33.33%;
  height:100px;
  float:left;
  margin-top:100px;
  font-size:50px;
  line-height:100px;
  transition:margin-top .5s,color .5s;
  cursor:pointer;

}
.socialIcon:hover{ color:#49afcd; text-shadow:0 0 20px white;}
.twitter{ transition-delay:.5s,0; }
.github{ transition-delay:1s,0; }

@media screen and (max-width:930px){
  .subTexts p {font-size:20px}


}

@media screen and (max-width:600px){
  .welcome,.subText,.sub{background:rgba(255,255,255,.3);}
  .welcome{border-radius:20px 20px 0 0;}
  .subText{border-radius:0 0 20px 20px;}
  .sub{border:1px solid;}
  .greet{font-size:30px}
  .subTexts p {font-size:16px;}


}
